*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
.employee-details{
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-right: 8px solid red;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-evenly;
    height: 90vh;
    margin: 25px auto;
    padding-left: 5px;
    width: 400px;
}

.employee-details>label,div:nth-child(3){
    font-weight: bold;
}
.employee-details>input,select{
    height: 20px;
    width: 300px;
}
input[type="submit"]{
    color: green;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
}